<div class="container">
  <div class="row">
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 table-header">
     <h3>
      List of pins
     </h3>
    </div>
    <div class="col-sm-2">
      <div class="action">
        <button (click)="openNewCustomerDialog()" class="btn btn-primary">Add Customer</button>
        <button (click)="openNewPinDialog()" class="btn btn-primary">Add Pin</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Collaboratory</th>
            <th scope="col">Privacy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pin of pinsList$ | async">
            <th scope="row">{{pin.title}}</th>
            <td>
              <img [src]="pin.image" class="pin-image img-thumbnail" alt="">
            </td>
            <td>
               <p *ngFor="let c of pin.collab">
                {{c}}
               </p>
            </td>
            <td>
              {{pin.privacy}}
            </td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-app-modal [isOpen]="isCustomerModalOpen" (onClose)="isCustomerModalOpen = false" title="Add New Customer">
  <app-new-customer (onCustomerCreation)="isCustomerModalOpen = false"></app-new-customer>
</app-app-modal>
<app-app-modal [isOpen]="isPinModalOpen" (onClose)="isPinModalOpen = false" title="Add New Pin">
  <app-new-pin (onPinCreation)="onPinCreation($event)"></app-new-pin>
</app-app-modal>